.form-container {
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-main {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 10rem;
  text-align: center;
  /* font-size: 3rem; */
  color: #2d2d37;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  background-color: whitesmoke;
  height: 250px;
  width: 400px;
}

.input-box {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left:3rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.submit-btn {
  background-color: #3f51b5;
  height: 1.8rem;
  border: none;
  border-radius: 0.23rem;
  margin-top: 2rem;
  color: whitesmoke;
  margin: 0.125rem;
  width: 7rem;
  cursor: pointer;
}


#message{
  color: red;
}